body {
    background-color: black;
    color: antiquewhite;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    color:cadetblue;
    padding: 15px;
}

p {
    background: gray;
    width: 400px;
    border-left: 15px dotted rebeccapurple;
    border-right: 10px dashed springgreen;
    border-bottom: 20px double dodgerblue;
}

h2 {
    background: navy;
    margin: 50px 200px 50px 75px;
    padding: 45px 115px 75px 100px;
    border: 4px solid steelblue;
}

h5 {
    background: teal;
    margin: 50px 20px 50px;
}

.racoon {
    width: 500px;
    margin: 50px 25px 50px 25px;
    padding: 10px 10px 10px 10px;
    border: 6px solid salmon;
    
}

section {
    background: silver;
    padding: 40px;
    margin: 20px 25px;
}

.bg-light {
    background: teal;
    color:thistle;

}

.bg-dark {
    background: black;
    color: cornsilk;
}

#padding {
    background: darkkhaki;
    color: darkturquoise;
}

.container {
    width: 600px;
    border: 10px solid lightskyblue;
    margin-left: auto;
    margin-right: auto;
}

.columns {
    display: flex;
}

.col {
    margin: 0 1em;
}